html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background: #000;
    color: yellow;
    font-family: 'Sintony', sans-serif;
}
.background {
    position: fixed;
    background-repeat: no-repeat;
    width: 100%;
    z-index: -100;
}
.trooper-main {
    position: fixed;
    bottom: -300px;
    right: 100px;
    z-index: -20;
}
.chewy {
    position: fixed;
    bottom: -60px;
    left: 500px;
    z-index: -10;
}
.music {
    opacity: 0;
    width: 100px;
    height: 200px;
    background: blue;
}
/*============TOP==================*/
.top {
    width: 100%;
    height: 100%;
    border-bottom: solid 3px yellow;
    box-shadow: 0 0 30px yellow;
    background: #000;
}
.logo {
    font-size: 48pt;
    text-align: center;
}
.logo-sub {
    font-size: 26pt;
    text-align: center;
    padding-bottom: 10px;
}
/*===========MIDDLE===================*/
.middle {
    width: 90%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.493);
    /*border: solid 2px yellow;*/
    border-radius: 15px;
    /*box-shadow: 0 0 20px yellow, inset 0 0 20px yellow;*/
    padding: 20px;
    margin-top: 40px;
}
.interact h2 {
    font-size: 30pt;
    text-align: center;
    margin-bottom: 30px;
}
.interact p {
    font-size: 22pt;
    text-align: center;
    margin-bottom: 15px;
}
.header h2{
    font-size: 32pt;
}
.char-select {
    width: 90%;
    height: 480px;
    border: solid 2px yellow;
    border-radius: 15px;
    box-shadow: 0 0 20px yellow, inset 0 0 20px yellow;
}
.character {
    width: 20%;
    height: 420px;
    background: rgba(0, 0, 0, 0.651);
    float: left;
    margin-left: 20px;
    padding: 20px;
    border: solid 2px red;
    border-radius: 15px;
    box-shadow: 0 0 20px red, inset 0 0 20px red;

}
.img-avatar {
    width: 200px;
}
.character:hover {
    border: solid 2px yellow;
    box-shadow: 0 0 20px yellow, inset 0 0 20px yellow;
    cursor: pointer;
    background: rgba(255, 255, 0, 0.473);
    color: #000;
}
.character h3 {
    font-size: 18pt;
    text-align: center;
}
.char-contain {
    margin: 0 auto;
    width: 200px;
    margin-bottom: 10px;
}
.char-info {
    margin-top: -60px;
    text-align: center;
}
.char-info li {
    list-style: none;
}
/*============BOTTOM==================*/
.bottom {
    width: 90%;
    height: 100px;
    background: rgba(0, 0, 0, 0.589);
    position: fixed;
    bottom: 0;
    left: 5%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top: solid 2px yellow;
    border-right: solid 2px yellow;
    border-left: solid 2px yellow;
}
.start-button {
    width: 150px;
    height: 50px;
    margin: 0 auto;
    margin-top: 24.5px;
}
.btn-begin {
    width: 150px;
    height: 50px;
    background: yellow;
    color: #000;
    border: solid 2px #000;
    border-radius: 10px;
    box-shadow: 0 0 20px red;
    margin: 0 auto;
}
.btn-begin:hover {
    background: #000;
    color: red;
    cursor: pointer;
}
/*===========NEW STYLE START HERE===================*/
/*=========HEADER=============*/
.header {
    width: 100%;
}
.logo-holder {
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}
.star-logo {
    width: 500px;
    margin: 0 auto;
}
h2 {
    padding-bottom: 20px;
    margin-left: 40px;
}


/*==============INTERFACE================*/
.interface {
    width: 100%;
}
/*============CHARACTERS==================*/
.character-box {
    float: left;
    width: 20%;
    height: 500px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    border: solid 2px yellow;
    border-radius: 15px;
    box-shadow: 0 0 20px yellow, inset 0 0 20px yellow;
}
.character-box:hover {
    cursor: pointer;
    border: solid 2px red;
    box-shadow: 0 0 20px red, inset 0 0 20px red;
}
.character-box a {
    text-decoration: none;
    color: yellow;
    text-shadow: 0 0 6px #fff;
}
.char-holder {
    width: 200px;
    margin: 0 auto;
}
.character-box h3 {
    font-size: 18pt;
    text-align: center;
    margin-bottom: 10px;
}

/*==============================*/
/*==============================*/
/*==============================*/
/*==============================*/
/*==============================*/
/*==============================*/